.menu-toggle {
  position: relative;
  display:  inline-block;
  width: 40px;
  height: 30px;
  margin: 25px;
}

.menu-toggle span {
  margin: 0 auto;
  position: relative;
  top: 15px;
  transition-duration: 0s;
  transition-delay: .2s;
}

.menu-toggle span:before, .menu-toggle span:after {
  position: absolute;
  content: '';
}

.menu-toggle span, .menu-toggle span:before, .menu-toggle span:after {
  width: 25px;
  height: 5px;
  background-color: $white;
  display: block;
}

.menu-toggle span:before {
  margin-top: -8px;
  transition-property: margin, transform;
  transition-duration: .2s;
  transition-delay: .2s, 0;
}

.menu-toggle span:after {
  margin-top: 8px;
  transition-property: margin, transform;
  transition-duration: .2s;
  transition-delay: .2s, 0;
}

.menu-toggle-active span {
  background-color: rgba(0,0,0,0.0);
  transition-delay: .2s;
}

.menu-toggle-active span:before {
  margin-top: 0;
  transform: rotate(45deg);
  transition-delay: 0, .2s;
}

.menu-toggle-active span:after {
  margin-top: 0;
  transform: rotate(-45deg);
  transition-delay: 0, .2s;
}

nav.nav {
  position: fixed;
  top: 0;
  right: 0;
  height: $navHeight + $mini;
  z-index: $nav;
  padding-top: 15px;

  .onscreen {
    height: $navHeight;
    // width: 200px;
    // background: white;
    position: relative;
    z-index: 20;

    .current {
      line-height: $navHeight;
      padding-left: 15px;
      margin: 0;
      position: absolute;
      width: 100%;
    }

    .toggle {
      height: 35px;
      width: 35px;
      margin-right: 25px;
      background: $blue;
      color: $white;
      margin-top: 12.5px;
      text-align: center;
      line-height: 35px;
      font-size: 26px;
      position: absolute;
      right: 0;

      &:hover {
        cursor: pointer;
        background: darken($blue, 10%);
        z-index: 10;

        transition: $trans;
      }

      transition: $trans;
    }
  }

  .offscreen {
    position: fixed;
    top: 0;
    padding-top: 100px;
    right: -350px;
    bottom: 0;
    width: 350px;
    background: $black;
    color: $white;
    margin: 0;
    list-style: none;
    z-index: 15;

    -webkit-box-shadow: -3px 0px 3px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    -3px 0px 3px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         -3px 0px 3px 0px rgba(50, 50, 50, 0.2);

    &.main-nav {
      padding-left: 0;

      .main-nav-item {
        height: 60px;
        background: rgba(255, 255, 255, 0.2);
        margin-bottom: 25px;
        line-height: 60px;
        padding-left: 50px;
        width: 70%;
        margin-left: 9%;

        &:hover {
          cursor: pointer;
          background: rgba(255, 255, 255, 0.4);
          transition: $trans;
          // @extend .animated;
          // @extend .bounceIn;
        }

        &.selected {
          border-left: 5px solid $blue;
        }

        transition: $trans;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .animated.offscreen {
    right: -50px;
  }
}

.clickoff {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0);
  pointer-events: none;

  &.active {
    background: rgba(100, 100, 100, 0.2);
    pointer-events: initial;
    transition: $trans;
  }

  &:hover {
    cursor: pointer;
  }

  @media screen and (min-width:0\0) {
    display: none;
  }

  transition: $trans;
}
