section#about.about
  h4.title About Me.
  p.brief.
    I'm Blake Tarter and I'm a web developer living in Kansas City, Missouri. I have a deep love for development and design, especially the two put together. One of my passions is learning new things. I'm Blake Tarter and I'm a web developer living in Kansas City, Missouri.
  .list
    .about-item
      .icon
      p.copy.
        I'm Blake Tarter and I'm a web developer living in Kansas City, Missouri. I have a deep love for development and design, especially the two put together. One of my passions is learning new things. I'm Blake Tarter and I'm a web developer living in Kansas City, Missouri.
    .about-item
      .icon
      p.copy.
        I'm Blake Tarter and I'm a web developer living in Kansas City, Missouri. I have a deep love for development and design, especially the two put together. One of my passions is learning new things. I'm Blake Tarter and I'm a web developer living in Kansas City, Missouri.
    .about-item
      .icon
      p.copy.
        I'm Blake Tarter and I'm a web developer living in Kansas City, Missouri. I have a deep love for development and design, especially the two put together. One of my passions is learning new things. I'm Blake Tarter and I'm a web developer living in Kansas City, Missouri.
