section#featured.featured
  h4.title Oh look, a recent blog post.
  .post.featured-post
    .image
    .copy
      h6.title This is another blog post
      p.body I'm Blake Tarter and I'm a web developer living in Kansas City, Missouri. I have a deep love for development and design, especially the two put together. One of my passions is learning new things.
      .read-more read more
    a.link(href="#")
