section#work.work
  .polygon.polygon-1
  .polygon.polygon-2
  .clip
    h4.title My Work.
    p.brief.
      I'm Blake Tarter and I'm a web developer living in Kansas City, Missouri. I have a deep love for development and design, especially the two put together. One of my passions is learning new things. I'm Blake Tarter and I'm a web developer living in Kansas City, Missouri.
    .work-list
      .item
        h6.title This is another Work Post
        .clip
          .copy.
            I'm Blake Tarter and I'm a web design, especially the two put together. One of my passions is learning new things. I'm Blake Tarter and I'm ay passions is learning new things.
      .item
        h6.title This is another Work Post
        .clip
          .copy.
            I'm Blake Tarter and I'm a web design, especially the two put together. One of my passions is learning new things. I'm Blake Tarter and I'm ay passions is learning new things.
      .item
        h6.title This is another Work Post
        .clip
          .copy.
            I'm Blake Tarter and I'm a web design, especially the two put together. One of my passions is learning new things. I'm Blake Tarter and I'm ay passions is learning new things.
      .item
        h6.title This is another Work Post
        .clip
          .copy.
            I'm Blake Tarter and I'm a web design, especially the two put together. One of my passions is learning new things. I'm Blake Tarter and I'm ay passions is learning new things.
      .see-more see more
