doctype html
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
html(class="no-js", lang="en")
  <!--<![endif]-->
  include partials/_header
  body
    include partials/_nav
    include partials/_hero
    include partials/_about
    include partials/_featured
    include partials/_work
    include partials/_footer
