<section class="about-wrapper">
  <section class="hero">
    <div class="hero-center">
      <h1 class="title">About</h1>
      <p class="subtitle">Learn a little about me.</p>
    </div>
  </section>

  <section class="long-about">
    <h2 class="title">Blake Tarter</h2>
    <p class="subtitle">Kansas City, MO based web developer</p>

    <p class="monolog">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <section class="icons">
      <ul class="icons-wrapper">
        <li class="icon">
          <div class="cover"></div>
        </li>
        <li class="icon">
          <div class="cover"></div>
        </li>
        <li class="icon">
          <div class="cover"></div>
        </li>
        <li class="icon">
          <div class="cover"></div>
        </li>
        <li class="icon">
          <div class="cover"></div>
        </li>
        <li class="icon">
          <div class="cover"></div>
        </li>
      </ul>
    </section>

    <p class="monolog">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <section class="playground">
      <div class="fun">

      </div>
    </section>
  </section>
</section>
