<section class="home-wrapper">
  <section class="hero">
    <div class="hero-center">
      <h1 class="name">Blake Tarter</h1>
      <p class="quick-about">Kansas City, MO based Web Developer</p>
      <p class="know">I know <span class="skill">{{skill}}</span>.</p>
      <a class="button about" href="#about">About Me</a>
      <a class="button work" href="#work">See My Work</a>
    </div>
    <div class="down-arrow-wrapper">
      <div id="down-arrow" class="down-arrow icon-down-open" data-ng-click="scroll('brief')"></div>
    </div>
  </section>

  <section id="brief">

  </section>
</section>
