<section class="home-wrapper">
  <section class="hero">
    <div class="hero-center">
      <h1 class="name">Blake Tarter</h1>
      <p class="quick-about">Kansas City, MO based Web Developer</p>
      <p class="know">I know <span class="skill">{{skill}}</span>.</p>
      <a class="button about" href="#about">About Me</a>
      <a class="button work" href="#work">See My Work</a>
    </div>
    <div class="down-arrow-wrapper">
      <div id="down-arrow" class="down-arrow icon-down-open" data-ng-click="scroll('brief')"></div>
    </div>
  </section>

  <section id="brief" class="brief">
    <h2 class="brief-header">A Little About Me</h2>
    <p class="little-about">I'm Blake Tarter and I'm a web developer living in Kansas City, Missouri. I have a deep love for development and design, especially the two put together. One of my passions is learning new things.</p>
  </section>

  <section id="skills" class="skills">
    <div id="fun" class="fun" data-ng-click="fun($event)">
      <p class="click-me">Click Me</p>
    </div>
    <h2 class="skills-header">Some Skills</h2>
  </section>
</section>
